<div class="order">
  <div class="app">
    <h3 class="title">
      用餐
    </h3>
  </div>
  <ul class="goods">
    <li>
      <div class="img"><img src="assets/img/icecream.jpg"></div>
      <div class="detail">
        <div class="name">美味冰淇淋</div>
        <div class="count">
          <div class="num">x4</div>
          <div class="money">￥10</div>
        </div>
      </div>
    </li>
    <li>
      <div class="img"><img src="assets/img/icecream.jpg"></div>
      <div class="detail">
        <div class="name">美味冰淇淋</div>
        <div class="count">
          <div class="num">x4</div>
          <div class="money">￥10</div>
        </div>
      </div>
    </li>
    <button role="button" class="btn btn-primary" routerLink="/coubuy">去支付</button>
  </ul>
</div>
<div class="order">
  <div class="app">
    <h3 class="title">
      小卖部
    </h3>
  </div>
  <ul class="goods">
    <li>
      <div class="img"><img src="assets/img/icecream.jpg"></div>
      <div class="detail">
        <div class="name">美味冰淇淋</div>
        <div class="count">
          <div class="num">x4</div>
          <div class="money">￥10</div>
        </div>
      </div>
    </li>
    <li>
      <div class="img"><img src="assets/img/icecream.jpg"></div>
      <div class="detail">
        <div class="name">美味冰淇淋</div>
        <div class="count">
          <div class="num">x4</div>
          <div class="money">￥10</div>
        </div>
      </div>
    </li>
    <button role="button" class="btn btn-primary" routerLink="/coubuy">去支付</button>
  </ul>
</div>
<div class="back">
  <button role="button" class="btn btn-primary" routerLink="/coubuy">返回首页</button>
</div>
