
@import "../../cui/variable";

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border-radius: .106667rem;
  margin-top: $m-top;
}

.header-coubuy {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  height: 6rem;
  overflow: hidden;
  color: #fff;
  //text-align: center;
  background: rgba(7, 17, 27, 0.2);
  .bg-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  .logo {
    margin: $m-top*2 0 0 0;
    width: 1.733333rem *1.5;
    height: 1.733333rem *1.5;
    border-radius: $border-radius;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .hotel {
    width: 100%;
    font-size: $size-title;
    line-height: 1.4;
    .room {
      font-size: $size-desc * 1.2;
    }
  }
}

.coubuy {
  position: relative;
  .d3serve-title {
    margin: $size-title 0;
    font-size: $size-desc*1.2;
    font-weight: 200;
    &:before, &:after {
      content: '';
      position: absolute;
      top: $size-title + $size-desc*.8;
      background: $gray-300;
      width: 9%;
      height: 1px;
    }
    &:before {
      left: 30%;
    }
    &:after {
      right: 30%;
    }
  }
  .coubuy-w {
    position: relative;
    text-align: center;
    .coubuy-goods {
      width: 100%;
      .goods-title {
        width: 100%;
        font-size: $size-desc*1.2;
        font-weight: 200;
      }
      .goods-price {
        width: 100%;
        font-size: $size-title * 2;
        line-height: 1;
        span {
          font-size: $size-title * 1.68;
        }
      }
    }
    .toPay {
      margin: $size-title*1.5 0 $size-title 0;
      width: 75%;
      background-color: #fff;
      color: #3692f9;
      font-size: $size-title;
      line-height: 2.5;
      font-weight: 300;
    }
  }
  .card {
    margin: 15px;
    text-align: center;
    box-shadow: 0px 5px 25px rgba(54, 146, 249, .3);
    .d3serve {
      margin: $m-top 0 $m-top*2 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      list-style: none;
      text-align: center;
      .list {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        border-top: 1px solid $gray-100;
        .list-item {
          position: relative;
          width: 100%;
          padding: $m-top*2 0;
          min-height: 1px;
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
          text-align: center;
          img {
            width: 1rem;
          }
          p {
            font-size: $size-desc;
            color: #3692f9;
          }
        }
      }
    }
  }
  .server {
    margin-top: $m-top * 3;
    text-align: center;
    font-size: $size-title;
    a {
      color: $gray-600;
    }
  }
}

// .order {
//   position: fixed;
//   right: .4rem;
//   right: 4vw;
//   bottom: 2rem;
//   bottom: 20vw;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 1.133333rem;
//   width: 11.333333vw;
//   height: 1.133333rem;
//   height: 11.333333vw;
//   box-shadow: 0px 5px 25px rgba(54, 146, 249, .3);
//   border-radius: 50%;
//   background: #fff;
//   -webkit-transition: opacity .3s;
//   transition: opacity .3s;
//   &:after {
//     position: absolute;
//     right: -.12rem;
//     right: -1.2vw;
//     top: -.133333rem;
//     top: -1.333333vw;
//     line-height: 1;
//     // background-image: -webkit-gradient(linear, right top, left top, from(#ff7416), color-stop(98%, #ff3c15));
//     // background-image: -webkit-linear-gradient(right, #ff7416, #ff3c15 98%);
//     // background-image: linear-gradient(-90deg, #ff7416, #ff3c15 98%);
//     color: #fff;
//     border-radius: .32rem;
//     border-radius: 3.2vw;
//     padding: .053333rem .133333rem;
//     padding: .533333vw 1.333333vw;
//     content: attr(attr-quantity);
//     font-size: .266667rem;
//   }
//   .icon {
//     display: block;
//     width: .533333rem;
//     width: 5.333333vw;
//     height: .533333rem;
//     height: 5.333333vw;
//     fill: #999;
//   }
//   .on {
//     fill: #3692f9;
//   }
// }
// .redCircle{
//   position: absolute;
//     right: -.12rem;
//     right: -1.2vw;
//     top: -.133333rem;
//     top: -1.333333vw;
//     line-height: 1.3;
//     background-image: -webkit-gradient(linear, right top, left top, from(#ff7416), color-stop(98%, #ff3c15));
//     background-image: -webkit-linear-gradient(right, #ff7416, #ff3c15 98%);
//     background-image: linear-gradient(-90deg, #ff7416, #ff3c15 98%);
//     color: #fff;
//     border-radius: .32rem;
//     border-radius: 3.2vw;
//     padding: .053333rem .133333rem;
//     padding: .533333vw 1.333333vw;
//     font-size: .266667rem;
// }
 